// ------------------
// Shared Base Styles
// ------------------

.section-container {
    max-width: $page-width;
    margin: 0 auto;
    padding: 0 50px;
}

h1, h2 {
    margin: 50px 0 25px;
}

p {
    @extend .typography-body;
}

a {
    @extend .typography-link;
    text-decoration: none;
}

.hero-copy {
    max-width: 500px;
}