// Variables
/* Color Scheme */
$blue-light: #A7D5F2;
$blue-medium: #6DBFF2;
$blue-primary: #048ABF;
$turquoise: #0388A6;
$red: #FF2434;

// Grayscale
$white: #ffffff;
$off-white: #F2F1F0;
$black: #000000;
$gray-light: #f1f1f1;
$gray: #4C4C4C;
$gray-dark: #2D2D2D;

/* THEME SPECIFIC */
$primary-color: $blue-primary;
$secondary-color: $turquoise;
$text-color: $gray-dark;
$accent-color: $red;

/* Breakpoints */
// breakpoints should be used with max-width's (non-mobile first)
$bp-xxs: 420px;
$bp-xs: 480px;
$bp-s: 767px;
$bp-m: 1024px;
$bp-l: 1200px;
$bp-xl: 1400px;

/* Spacing */
$page-width: $bp-xl;
$space-s: 1em;
$space-m: 2em;
$space-l: 3em;
$space-xl: 4em;

/* Fonts */
// $sans-serif: 'Open Sans', sans-serif;
$sans-serif: 'Roboto', sans-serif;
$serif: 'Lora', serif;
$serif-base: $serif;
$serif-display: 'nw-condensed-regular';
$serif-display-thin: 'nw-thin';
$serif-display-bold: 'nw-condensed-bold';

$base-size: 1em;
$base-small: .8em;
$base-large: 1.3em;